.guitar{
  position: absolute;
  right: 1%;
  top: 100%;
}

.width {
  width: 4%;
}
.scale{
  position: absolute;
  left: 10%
}
.title{
  position: relative;
  left: 15%;
}

body{
  background-color: #39CCCC;
}
table{
  background-color: white;
}

#resetbutton{
  position: absolute;
  left: 40%;
}
